.bottomSection {
  background: #20222a;
  flex-grow: 1;
  padding: 14px 0 40px;
  min-height: 410px;
  .filterWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
