.label {
  border: 1px solid #3d4554;
  border-radius: 24px;
  background-color: #20222a;
  padding: 15px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 15px;

  .input {
    border: none;
    background-color: #20222a;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    width: 415px;
    padding: 0;
    height: 18px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      transition: color 0.2s ease;
    }
    &:focus {
      outline: none;
      &::placeholder {
        color: transparent;
      }
    }
    &:last-child {
    }
  }
}
