.header {
  background-color: #20222a;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 130px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #272e3b;
  }
  .logoWrapper {
    display: flex;
    align-items: center;
    gap: 0 14px;
  }
}
