.middleSection {
  background: #20222a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 40px 32px;
  gap: 25px 0;
  position: relative;
  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #3d4554;
    width: 90%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-family: "Rubik";
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      color: #ffffff;
    }
    .label {
      border: 1px solid #3d4554;
      border-radius: 24px;
      background-color: #20222a;
      padding: 11px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 16px;
      .input {
        border: none;
        background-color: #20222a;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        width: 310px;
        padding: 0;
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
          transition: color 0.2s ease;
        }
        &:focus {
          outline: none;
          &::placeholder {
            color: transparent;
          }
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .checkboxesWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 30px;
      .checkSign {
        font-family: "Rubik";
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
      }
    }
  }
}
