.wrapper {
  background-color: #20222a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 12%;
  height: 100%;
  .img {
    position: relative;
    top: 25px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    justify-content: center;
    align-items: start;
    .title {
      margin-bottom: 8px;
      font-family: "Rubik";
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      color: #ffffff;
    }
    .label {
      border: 1px solid #3d4554;
      border-radius: 24px;
      background-color: #20222a;
      padding: 15px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: text;

      .input {
        border: none;
        background-color: #20222a;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        width: 450px;
        padding: 0;
        height: 18px;
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
          transition: color 0.2s ease;
        }
        &:focus {
          outline: none;
          &::placeholder {
            color: transparent;
          }
        }
        &:last-child {
        }
      }
    }

    .formBtn {
      background: #f4c038;
      border-radius: 50px;
      font-family: "Rubik";
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      padding: 14px 24px;
      color: #20222a;
    }
  }
}
